.home {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  scroll-snap-align: center;
}

.hero {
  display: flex;
  flex-grow: 1;
  gap: 2rem;

  div:nth-child(1) {
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
      margin-bottom: 2rem;
      animation: aparecer-l-r 1.5s ease forwards;
      strong {
        -moz-text-fill-color: transparent;
        background-image: linear-gradient(
          to right,
          var(--mauve),
          var(--red),
          var(--maroon),
          var(--peach)
        );
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
      }
    }

    p {
      padding-left: 1rem;
      font-size: 1.2rem;
      animation: aparecer-l-r 2s ease forwards;
    }
  }
}
